$primary: #006699;

h2 {
	color: $primary;
}
.loader-container{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(200, 200, 200, 0.7);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	div {
		border: 16px solid #f3f3f3; /* Light grey */
		border-top: 16px solid #007bff; /* Blue */
		border-radius: 50%;
		width: 120px;
		height: 120px;
		animation: spin 2s linear infinite;
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}

